language: rust
sudo: required
dist: trusty
addons:
    apt:
        packages:
            - libssl-dev
cache: cargo
rust:
  - stable
  - beta
  - nightly-2019-04-12

before_cache: |
  if [[ "$TRAVIS_RUST_VERSION" == nightly-2019-04-12 ]]; then
    RUSTFLAGS="--cfg procmacro2_semver_exempt" cargo install cargo-tarpaulin
  fi

script: |
  cargo clean
  cargo test
  if [[ "$TRAVIS_RUST_VERSION" == nightly-2019-04-12 ]]; then
    cargo clean
    cargo miri test
  fi


after_success: |
  if [[ "$TRAVIS_RUST_VERSION" == nightly ]]; then
    cargo tarpaulin --ciserver travis-ci --coveralls $TRAVIS_JOB_ID
  fi